*{
    margin: 0;
    border: 0;
}
:root{
    --cor-vermelha: #E41717;
    --cor-branca: #ffffff;
    --cor-preta: black;
    --cor-footer: #C9C9C9;
}
@media screen and (max-width: 393px) {
    
    #homebody{
        height: 852px;
        font-family: 'Kanit', sans-serif;
    }
    #headerbody{
        height: 90px;
        width: 393px;
        background-color: var(--cor-vermelha);
        display: flex;
        align-items: end;
        justify-content: space-between;
        
    }
    #foto_perfil{
        width: 40px;
        height: 40px;
        position: relative;
        bottom: 12px;
        left: 12px;

    }
    #logo{
        width: 36.21px;
        height: 32px;
        position: relative;
        bottom: 13px;
        right: 5px;
    }
    #menu{
        width: 24px;
        height: 21px;
        position: relative;
        bottom: 12px;
        right: 12px;
    }
    #trem{
        width: 393px;
        height: 190px;

    }
    #dinheiros{
        width: 393px;
        height: 111px;
        background-color: var(--cor-vermelha);
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 7px;
    }
    #saldo{
        width: 288px;
        height: 71px;
        display: flex;
        background-color: #ffffff;
        border-radius: 7px;
        position: relative;


        
    }
    #rs p{
        font-size: 18px;
    }
    #rs{
        position: relative;
        top: 3px;
        display: flex;
        gap: 27px;
    }
    #saldors{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 10px;
        left: 10px;
    }
    #olhoimg{
        width: 24px;
        height: 24px;
    }
    .mets{
        color: #FFFFFF; 
        font-size: 15px;
        position: relative;
        bottom: 1px;

    }
    #barrapreta{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 20px;
        
    }
    #depositar{
        width: 148px;
        height: 26px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        background-color: black;
    }
    #deposit{
        position: relative;
        left: 7px;
    }
    #depositimg{
        position: relative;
        left: 4px;

    }
    #comprar{
        width: 148px;
        height: 26px;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 148px;
        height: 26px;

    }
    .imgblocopreto{
        position: relative;
        right: 3px;

        width: 18px;
        height: 18px;
    }
    .imagenssec{
        position: relative;
        left: 15px;
        width: 35px;
        height: 35px;
        top: 8px;

    }
    .sectiontodo{
        width: 393px;
        height: 365px;
        display: flex;
        flex-direction: column;

    }
    .opcoessec{
        display:inline-flex;
        gap: 27px;

    }
    .letrassec{
        display: flex;
        flex-direction: column;

    }
    .letrasvermelhas{
        color: #E41717;
        position: relative;
        top: 5px;


    }
    .descricao{
        color: #A7A4A4;


    }
    .imagemseta{
        position:relative;
        right: 10px;
        width: 16px;
        height: 16px;

    }
    #seta1{  position: relative; left: 35px; top: 15px;}
    #seta2{ position: relative; left: 135px; top: 15px;}
    #seta3{ position: relative; left: 135px; top: 15px;}

    .barras{
        position: relative;
        left: 15px;
        background-color: #A7A4A4;
        width: 358px;
        height: 1px;
    }
    #footerhome{
        position: relative;
        background-color: #c9c9c9;
        width: 393px;
        height: 95px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .imgfooter{
        
        
        width: 40px;
        height: 40px;
    }
    .letrasfooter{
        font-size: 15px;
        color: #FFFFFF;
        position: relative;
        bottom: 5px;
    }
    #imgfooter1{position: relative;}
    #imgfooter2{position: relative; left: 10px; top: 2px;}
    #imgfooter3{position: relative; top: 15px;}
    
    a{
        display: inline-block;
        text-decoration: none;
    }
    #bodyperfil{
        width: 393px;
        height: 683px;
        position: fixed;
        bottom: -100%;
        background-color: #f3f3f3;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 1px solid #e6e2e2;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: bottom 0.4s ease;
        z-index: 1000;
    
    }
    #bodyperfil.active{
        bottom: 0;
    }

    #headerperfil{
        align-self: stretch;
        padding: 11px;
        display: flex ;
        justify-content: space-between ;
    }
    #x{
        width: 16px;
        height: 16px;
    }

    #compartilhar{
        width: 34px;
        height: 23.8px;

    }

    #sino{
        width: 24px;
        height: 27.43px;
        padding-right: 3px;
        padding-top: 2px;
        padding-left: 9px;

    }
    #perfileinfo{
        position: relative;
        right: 60px;
        bottom: 25px;
        display: flex;

    }
    #infopessoa{
        position: relative;
        left: 20px;
        top: 10px;

    }
    #fotoperfil{
        width: 63px;
        height: 63px;
    
    }

    #nome{
        font-family: 'Jockey One', sans-serif;
        font-size: 20px;

    }
    #email{
        font-family: 'Jockey One', sans-serif;
        font-size: 18px;
        color: #3f3c3c;
    }
    .barras2{
        position: relative;
        bottom: 20px;
        width: 358px;
        height: 1px;
        background-color: #a7a4a4;
    }
    .letras1{
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
        color: black;
        position: relative;
        top: 2px;
    }
    .letras2{
        font-family: 'Kanit', sans-serif;
        font-size: 12px;
        color: #3f3c3c;
    }
    .bolapreta{
        background-color: black;
        border-radius: 100%;
        width: 24px;
        height: 24px;
    }
    #lapis{
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 22px;
        left: 2px;
    }
    #edit{
        position: relative;
        right: 185px;
        top: 40px;
    }
    .divicones:nth-child(1){
        padding-left: 9px;
        padding-top: 14px;
        padding-bottom: 9px;
        
    }
    .divicones:nth-child(2){
        padding-left: 12px;
        padding-top: 15px;
        padding-bottom: 13px;
    }
    .icones{
        width: 40px;
        height: 40px;
    }
    .botoes{
        
        width: 335px;
        height: 63px;
        background-color: #e4e4e4;
        display: flex;
        gap: 16px;
        border-radius:12px ;
        
    }
    .todosbotoes{
        
        padding-top: 30px;
        
    }
    #botao2{
        position: relative;
        top: 30px;
    }
    #footerperfil{
        position: absolute;
        bottom: 0;
        width: 393px;
        height: 126px;
    }
    #sair{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sairapp{
        background-color: #e4e4e4;
        width: 335px;
        height: 63px;
        border-radius:12px ;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #setavoltar{
        width: 35px;
        height: 25.61px ;
    }
    #letras3{
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
    }






    /* MENU */






    #bodymenu{
        width: 245px;
        height: 852px;
        position: fixed;
        top: 0;
        right: -100%; 
        transition: right 0.4s ease;
        z-index: 1000;
        
    }
    #bodymenu.active{
        
        right: 0;

    }
    #backdrop {
        position: fixed;
        inset: 0;
        background-color: rgba(97, 96, 96, 0.493);
        display: none;
        z-index: 999;
    }

    #backdrop.active {
        display: block;
    }
    #headermenu{
        display: flex;
        align-items: flex-end;
        width: 245px;
        height: 90px;
        background-color: white;


    }
    #itensheader{
        padding: 12px;
        display: flex;
        align-items: flex-end;

    }
    #imgheader{
        width: 40px;
        height: 40px;

    }
    #nome{
        padding-left: 10px;
        font-size: 20px;
        font-family: 'Jockey One', sans-serif;

    }
    .imagensopcoes{
        width: 25px;
        height: 25px;
    }
    .opcoes{
        width: 245px;
        height: 761px;
        background-color: #F3F3F3;

    }
    .botoesmenu{
        display: flex;
        padding: 14px;

    }
    .letras{
        position: relative;
        left: 5px;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
        color: black;

    }
    .barras3{
        width: 225px;
        height: 1px;
        background-color: #a7a4a4;
    }
    /* MAPA */
    #mapabody {
    width: 100vw;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    position: fixed;
    top: 0;
    right: -110%;
    background-color: white;
    transition: right 0.4s ease;
    z-index: 1000;
    }
    #mapabody.active{
        right: 0;
    }
    #headermapa{
        height: 90px;
        width: 393px;
        background-color: var(--cor-vermelha);
        display: flex;
        align-items: flex-end;
        
        
    }
    #elementosheader:nth-child(1){
        padding-left: 15px;
        padding-bottom: 17px;
        padding-right: 9px;
    }

    #setamapa{
        width: 20px;
        height: 20px;
    }

    #logomapa{
        width: 27px;
        height: 24px;

    }
    #mapa{
        position: relative;
        right: 3px;
        width: 394px;
        height: 591px;
    }
         
}